* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .bg-body {
    background-color: #ffffff !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  
  .loan-calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 40px;
    padding-top: 20px;
  }
  
  input, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .loan-form {
    border: 2px solid #003300; /* Använd mörkgrön för att matcha bilsidan */
    padding: 20px;
    border-radius: 8px;
    background-color: #f3f9f3; /* Matcha bakgrundsfärgen från bilsidan */
    width: 90%;
    max-width: 450px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Samma subtila skugga som korten */
    box-sizing: border-box;
  }
  
  .loan-calculator h2 {
    font-size: 32px;
    color: #4273bd; /* Blå som på kortens rubrik */
  }
  
  .loan-form p {
    font-size: 18px;
    color: #003300; /* Matcha textfärg från bilsidan */
  }
  
  .input-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    gap: 1px;
  }
  
  #loan-length-input-box {
    margin-bottom: 5px;
  }
  
  .input-box label {
    width: 120px;
    font-size: 24px;
    text-align: left;
    margin-right: 4em;
    color: #003300; /* För att matcha textfärgen */
  }
  
  .input-box input {
    flex: 1;
    width: 100%;
    max-width: 200px;
    padding: 5px;
  }
  
  .input-box span {
    width: 10px;
    flex-shrink: 0;
    white-space: nowrap;
    margin-left: 5px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
  }
  
  .calculate-btn, .clear-btn {
    background-color: #8ac341; /* Samma gröna färg som på knapparna i korten */
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .clear-btn {
    background-color: #4273bd; /* Samma blå som på länkarna och knapparna på bilsidan */
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    display: block;
    padding-left: 119px;
    padding-bottom: 10px;
  }
  