

* {
	margin: 0;
	padding: 0;
}

body {

}

html {
	scroll-behavior: smooth;
}

p {
	
}

/* Transition */
a {
	transition: all 300ms ease;
}

/* Desktop Nav ---------------------------------------------------------------------- */




/* Mobile Nav ---------------------------------------------------------------------- */




/* Profile Section ---------------------------------------------------------------------- */




/* About SSection ---------------------------------------------------------------------- */




/* Experience Section ---------------------------------------------------------------------- */




/* Projects Section ---------------------------------------------------------------------- */




/* Contact Section ---------------------------------------------------------------------- */




/* Footer Section ---------------------------------------------------------------------- */



