<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
font-family: "Poppins", sans-serif;
/* text-transform: uppercase; */
scroll-behavior: smooth;
display: flex;
flex-direction: column;
font-size: 1rem;
margin: 0 auto;
}

p {
	color: rgb(85, 85, 85);
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: white;
  text-decoration: none;
}

/* Transition */
a,
.btn {
	transition: all 300ms ease;
}

.navigation {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
  position: absolute;
  top: 0;
  transition: all .3s ease;
  width: 100%;
  z-index: 999;
}
=======
>>>>>>> 07583ecce9f13328a82ab0612cfd417acf7b8fae
